extends ../layout

block content
    div(style="background: whitesmoke")
        if createdByUser
            button Edit
            button Delete
        
    main(class="post-main")
        div(class="post-alone")
            h1= post.title
            h2= post.author
            p= post.body
            h3(class="date")= "Posted " + post.created
        
            if post.comments
                each comment in post.comments
                    article(class="post-comment")
                        h4= comment.commenterName
                        p= comment.body
                        p(class="post-comment__date date")= "Commented " +comment.date
            form(method="post")
                textarea(name="postComment", cols="30", rows="5", class="comment-textarea")
                button(type="submit" class="comment-btn") Comment
            include ../partials/messages.jade